{% load static %}
<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Shops</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/shops_review.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font_Ubuntu/stylesheet.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font_Inter/stylesheet.css' %}">

        <script src="{% static 'js/index.js' %}"></script>

    </head>

    <body>

        <div class="background">
            
            <div class="wrapper">

                <div class="content">

                    <div class="header">

                        <div class="menu-header">
                            <button onclick="myFunction()" class="dropdown-toggle">
                                <img src="{% static 'pics/Group 1.png' %}" alt="">
                            </button>
                        </div>

                        <div id="myDropdown" class="dropdown">
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Продавцы</a></li>
                                <li><a class="dropdown-item" href="#">Услуги</a></li>
                                <li><a class="dropdown-item" href="#">Товары</a></li>
                            </ul>
                        </div>

                        <a href="main page.html" target="_self"><div class="logo"><p>Витрина</p></div></a>

                        <div class="search">

                             <form action="" tager="_self">
                                <input required type="text" placeholder="Поиск">
                                <button type="submit">Искать</button>
                            </form>

                        </div>

                        <div class="sign-in">

                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" tager="_self">
                                <button type="submit">{{ request.user.username }}</button>
                            </a>
                            {% else %}
                            <a href="authorization_page.html" tager="_self">
                                <button type="submit">Войти</button>
                            </a>
                            {% endif %}

                            
                        </div>
                        
                    </div>

                    <div class="navigation-string">
                        <p>Продавцы товаров и услуг</p>
                    </div>

                    <div class="main">

                        <div class="shops-cards">

                            {% for shop in shops %}

                            <a href="{{ shop.get_absolute_url }}" target="_self"><div class="card">

                                <div class="content-div">

                                    <div class="top">

                                        <div id="name-shop"> {{ shop.shop_name }} </div>

                                        <div class="flex-categories">
                                            {% if shop.sell_services %}
                                            <div id="categories">Услуги</div> {% endif %}
                                            {% if shop.sell_products %}
                                            <div id="categories">Товары</div> {% endif %}
                                        </div>

                                    </div>
                                    

                                    <p id="text-shop"> {{ shop.shop_description }} </p>

                                    
                                    <div class="bottom">
                                        <div id="create-on">Создан {{ shop.created }}</div>
                                    </div>
                                </div>
                            </div></a>

                            {% endfor %}
                            
                        
                        </div>

                        <div class="button-show-more"></div>

                    </div>

                    <footer></footer>   

                </div>

            </div>

        </div>

    </body>
</html>
    